<!-- <form #login="ngForm" (ngSubmit)="submitForm(login)">
    <div class="mb-3" style="text-align: center;">
      <label for="email" class="form-label">Email address</label>
      <input #name="ngModel" type="email" class="form-control" id="email" aria-describedby="emailHelp" ngModel>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3" style="text-align: center;">
      <label for="pswd1" class="form-label">Password</label>
      <input type="password" class="form-control" id="pswd1" ngModel>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="check1" ngModel>
      <label class="form-check-label" for="check1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->